mixin blockItem(data)
  .m-info-card(
    style=`background-color: ${data.bg}`
    class={'--img' : data.block}
  )

    .m-info-card__header
      h2.m-info-card__title!=data.title
      +svgMono(data.icon)

    .m-info-card__info
      if data.link
        a.m-info-card__link(href="#") 
          span!=data.link
          +svgMono('link-arrow')
    
      if data.text || data.num || data.block
        .m-info-card__desc
          if data.text
            .m-info-card__text!=data.text
          if data.num
            .m-info-card__num!=data.num

          if data.block
            img.m-info-card__img(src="images/content.png" alt="")